@charset "UTF-8";
/* CSS Document */

body { background-color:#B5AEBF;}

p, label	{ color:#81799D; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
h1	{ color:#81799D; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; }
/*div { border: 1px solid red; }*/
#main {
	width:500px;
	height:300px;
	margin:auto;
	margin-top:100px;
	background-color:#F2EFE4;
	border-radius:10px 10px 10px 10px;
	border-color:#D9D4C7;
	border-style:solid;
	border-width:thick;
}

#form-layout {
	width: 400px;
	height: 130px;
	text-align: center;
	margin: auto;
}
#passphrase {
	width: 450px;
	height: 30px;
	text-align: center;
	margin: auto;
	padding-bottom: 10px;
}

#input {
	text-align:center;
}